@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --bs-success: #198754;
  --bs-danger: #dc3545;
  --bs-secondary: #6c757d;
}

body {
  font-family: 'Poppins', sans-serif;
}

.text-logo {
  color: #E74E39;
  font-weight: 600;
  letter-spacing: -0.12em;
  text-transform: uppercase;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, .nav-link {
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase !important;
  color: rgba(21, 21, 24, 0.63);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

.navbar {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: --bs-success;
  transition: width 0.4s ease, left 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.product-list-js .card {
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  background-color: #fff;
}

.product-list-js .card img {
  transition: transform 0.3s;
}

.product-list-js .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product-list-js .card:hover img {
  transform: scale(1.05);
}

.image-container {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}

.carousel-caption h5 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.carousel-caption p {
  font-size: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.shopping-cart th {
  font-size: 0.9rem;
}

.shopping-cart tr {
  vertical-align: top;
}

.buy-button-js:hover,
.buy-button-js:active {
  color: white !important;
  background-color: --bs-success !important;
  border-color: --bs-success !important;
}

a {
  text-decoration: none;
}

.nav-link:hover,
section h2:hover {
  color: --bs-success;
}

.nav-item {
  margin-right: 1.2rem;
  margin-left: 1.2rem;
}

.head {
  color: --bs-success;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.total-amount {
  font-size: 1.5rem;
  font-weight: bold;
  color: --bs-success;
}

.checkout-info {
  border: 1px solid --bs-success;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.product-name {
  font-size: 0.9rem;
  font-weight: 500;
}

.offer-text,
.in-cart {
  font-size: 0.8rem;
}

footer {
  background-color: #ededed;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #198754;
  transition: width 0.4s ease, left 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.carousel-image {
  height: 400px;
  object-fit: cover;
}

.hr-footer {
  width: 60px;
  background-color: --bs-secondary;
  height: 2px
}

@keyframes zoomInAnimation {
  from {
    transform: scale(0.7);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomInAnimation 0.9s ease forwards;
}
