<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-cart-arrow-down"></i> My Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="text-center bill py-4">Shopping Cart</h3>
        <div id="cart-content-js" class="d-none shopping-cart">
          <!-- test -->
          <div class="container">
            <!-- Header Row -->
            <div class="row bg-light border-bottom">
              <div class="col fw-light text-muted">Product</div>
              <div class="col fw-light text-muted">Price</div>
              <div class="col fw-light text-muted">Qty.</div>
              <div class="col fw-light text-muted text-success">
                Total <br />
                <small class="fw-light text-success">with discount</small>
              </div>
            </div>

            <!-- Cart Items (Body) -->
            <div id="cart-list"></div>
          </div>

          <div class="text-center fs-4 mt-3 text-success">Total: $<span id="total-price">0.00</span></div>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center text-center" id="back-to-shop-js">
          <p class="lead">There is nothing in your shopping cart.</p>
          <p>Go back to the shop and add some products!</p>
          <a href="index.html" class="btn btn-primary mt-3">Back to Shop</a>
        </div>

        <div class="text-center mt-4">
          <a href="checkout.html" class="btn btn-success m-2 d-none" id="checkout-btn-js" aria-label="Close">Checkout</a>
          <a href="javascript:void(0)" class="btn btn-outline-secondary m-2 d-none" id="cleancart-btn-js">Clean Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
